<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Photos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Photos.Properties.Settings.PhotosOrganiserDBConnectionString"
            connectionString="Data Source=DESKTOP-AJHSUMI;Initial Catalog=PhotosDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Photos.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>2.0.1</value>
            </setting>
            <setting name="Nom" serializeAs="String">
                <value>Photos Organiseur</value>
            </setting>
        </Photos.Properties.Settings>
    </userSettings>
</configuration>